$backgroundColor: #f4f6f7; /*#fefefe;*/
$defaultColor: rgb(66,66,66);

$primaryColor: #753a88;
$primaryColorForeground: white;

$primaryColorDark: darken($primaryColor, 8%);
$primaryColorDarkForeground: white;

$secondaryColor: inherit;
$secondaryColorForeground: inherit;

