<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bucketlist API</title>
    <style>
        h1, h2, h3, h4{
            font-weight: normal;
        }
        body{font-family: sans-serif;line-height: 1.4em;}
        code{background: #eee;display: inline-block;padding:3px;border-radius: 3px;}
    </style>
</head>
<body>
   <h1 id="bucketlistapichallenge3">Bucketlist API (Challenge 3)</h1>
<h3><a href="/apidocs">API documentation</a></h3>
<p>This project is an API for a bucket list app, that enables you to keep track of your goals or dreams.</p>

<h2 id="howtoruntheapp">How to run the app</h2>

<ul>
<li>Install Python version >= 3.5</li>

<li>Clone the repository. Run <code>git clone https://github.com/john555/bucketlist-api.git</code></li>

<li>Cd into the root the project root folder.</li>

<li>Install required packages using <code>pip install -r requirements.txt</code>.</li>

<li>Configure the <code>DATABASE_URL</code> environment variable. This is the database connection string.</li>

<li>Run the app using the <code>python run.py</code> command.</li>
</ul>

<h3 id="howtoruntests">How to run tests</h3>

<p>The tests are written using the unittest module. To execute tests,</p>

<ul>
<li>Run <code>python -m unittest</code> while in the project's root folder. </li>
</ul>

<p><strong>Note</strong>:
Make sure to install all required dependencies and configure the app environment.</p>

<h2 id="documentation">Documentation</h2>

<p>Documentantation can be found at <a href="/apidocs"><code>/apidocs</code></a> when the app is running.</p>
</body>
</html>
